<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taegyun.test.ajax.dao.FavoriteDAO">

	<select id="selectFavorite" resultType="com.taegyun.test.ajax.model.Favorite"> 
		SELECT
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
			`url`
	</select>

	<insert id="insertFavorite" parameterType="map">
		INSERT INTO
			`url`
		(
			`name`
			, `url`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{url}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectFavoriteOverLap" resultType="int" parameterType="string">
		SELECT
			count(1)
		FROM
			`url`
		WHERE
			`url` = #{url}
	</select>

	<delete id="deleteFavorite" parameterType="int">
		DELETE FROM
			`url`
		WHERE 
			`id` = #{id}
	</delete>


</mapper>