<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taegyun.test.jsp.dao.RealtorDAO">

	<insert id="insertRealtor" parameterType="com.taegyun.test.jsp.model.Realtor" 
	useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO
			`realtor`
		(
			`office`
			, `phoneNumber`
			, `address`
			, `grade`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{office}
			, #{phoneNumber}
			, #{address}
			, #{grade}
			, now()
			, now()
		)
	
	</insert>

</mapper>