<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taegyun.test.mybatis.dao.RealEstateDAO">

	<select id="selectRealEstateList" resultType="com.taegyun.test.mybatis.model.RealEstate" parameterType="int">
	
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	
	</select>
	
	<select id="selectRealEstateList2" resultType="com.taegyun.test.mybatis.model.RealEstate" parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			 #{rentPrice} > `rentPrice`
	</select>
	
</mapper>