<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taegyun.test.mybatis.dao.RealEstateDAO">

	<select id="selectRealEstateList" resultType="com.taegyun.test.mybatis.model.RealEstate" parameterType="int">
	
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	
	</select>
	
	<select id="selectRealEstateList2" resultType="com.taegyun.test.mybatis.model.RealEstate" parameterType="int">
		<![CDATA[SELECT
					`id`
					, `realtorId`
					, `address`
					, `area`
					, `type`
					, `price`
					, `rentPrice`
					, `createdAt`
					, `updatedAt`
				FROM
					`real_estate`
				WHERE
					`rentPrice` < #{rentPrice}]]>
	</select>
	
	<select id="selectRealEstateList3" resultType="com.taegyun.test.mybatis.model.RealEstate" parameterType="map">
		<![CDATA[SELECT
					`id`
					, `realtorId`
					, `address`
					, `area`
					, `type`
					, `price`
					, `rentPrice`
					, `createdAt`
					, `updatedAt`
				FROM
					`real_estate`
				WHERE
					`area` >= #{area} AND `price` <= #{price}
				ORDER BY `id` DESC]]>
	</select>
	
	<insert id="insertRealEstate" parameterType="com.taegyun.test.mybatis.model.RealEstate">
		INSERT INTO `real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertRealEstate2" parameterType="map">
		INSERT INTO `real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, now()
			, now()
		)
	</insert>
	
	<update id="updateRealEstate" parameterType="map">
		UPDATE `real_estate`
		SET
			`type` = #{type}
			, `price` = #{price}
			, `updatedAt` = now()
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteRealEstate" parameterType="map">
		DELETE FROM 
			`real_estate`
		WHERE
			`id` = #{id}
	</delete>
	
</mapper>