<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.taegyun.test.jstl.dao.StoreDAO2">

	<select id="selectStore" resultType="com.taegyun.test.jstl.model.Store">
	
		SELECT
			`id`
			, `name`
			, `phoneNumber`
			, `address`
			, `businessNumber`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`store`;
	
	</select>

</mapper>