@charset "UTF-8";

#wrap{
	margin : auto;
}

nav{
	width : 180px;
	font-weight:bold;
	font-size:18px;
}

section {
	width : 900px;
}

.logo {
	width : 180px;
	font-size : 25px;
}
.info {
	width : 900px;
	font-size:13px;
}